@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: auto;
}


.border-label-input {
  border: 1px solid #0000003B;
  border-radius: 6px;
  position: relative;
  padding: 8px 10px;
}

.border-label {
  position: absolute;
  top: -1.4ex;
  z-index: 1;
  left: 2em;
  background-color: white;
  color: #00000099;
  font-size: 12px;
  padding: 0 4px;
}